/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 oct. 2020, 15:59:13
    Author     : arielrubi
*/
body, html{
    /*color: #fff;
    background: #006493 !important;
    background-color: #006493 !important;
    overflow-x: hidden;
    overflow-y: hidden;*/
}
.logo{
    width: 150px; 
}
.financiamiento-logo{
    width: 150px;
    margin-left: 35% !important;
    margin-top: 40%!important;
}
.texto-financiamiento{
    width: 45%;
    margin-left: 22% !important;
    font-size: 26px; 
    text-transform: uppercase; 
    background: rgba(0,104,177,0.7);
    background-color: rgba(0,104,177,0.7);
}
.formulario-principal-cuadro{
    z-index: 2; 
}
.formulario-principal{
    position: absolute;
    width: 55%;
    background: rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.6);
}
.formulario-principal h1{ 
    text-transform: uppercase; 
    margin-top: -10px;
}
.formulario-principal h5{ 
    text-transform: uppercase;
    font-size: 16px;
}  
.formulario-principal p{ 
    text-transform: uppercase;
}  
.formulario-principal p.primer-texto{  
    background: #093879;
    width: 300px;
    color: #fff;
    font-size: 16px; 
}  
.formulario-principal p.segundo-texto{  
    font-size: 7px;
    width: 302px;
    text-align: justify !important;
    font-weight: 500;
}  
.form-control{
    font-size: 14px;
    height: 35px;
    border-radius: 0px;
} 
.btnSolicitar{
    font-weight: 300;
}  
.principal{
    height: 1000px;
    background-image: url("../img/fondo-principal.png");
    background-repeat: no-repeat;
    background-size: 65% 100%; 
}
.cuadro1{ 
    height: 333.33px;
    width: 60%;
    background: #093879;
    background-color: #093879;
}
.cuadro2{ 
    height: 333.33px;
    width: 60%;
    background: #0068b1;
    background-color: #0068b1;
}
.cuadro3{ 
    height: 333.33px;
    width: 60%;
    background: #00b3b9;
    background-color: #00b3b9;
}
.img-cuadros{
    width: 333.33px;
    height: 270px;
}
.bg-azul{
    background: #093879;
    background-color: #093879;
}
.img-iconos{
    width: 100px;
}
.btnSolicitar:focus, .btnSolicitar:active, .btnSolicitar:hover
{
    outline: 0; 
    box-shadow: none !important;
}

.img-redes{
    width: 25px;
}
.bg-dark{
    background: #000 !important;
    background-color: #000 !important;
}
#emailHelp, #emailHelp1{
    font-weight: bold;
}  
.principal-exito{
    height: 800px;
    background-image: url("../img/fondo-principal.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.principal-exito .logo{ 
    width: 150px;
    margin-left: 0rem!important;
}
.principal-exito .formulario-principal{ 
    position: relative;
    width: 40%;
    height: 400px;
}
.principal-exito .formulario-principal h4 {
    text-transform: uppercase;
    margin-top: -15px;
    font-weight: 400;
}
.fondo-con-img-texto{
    background: #093879;
    background-color: #093879;
}
.imagen-contexto{
    width: 550px;
}
.bg-celeste{
    background: #0167b1;
    background-color: #0167b1;
}
.cuadro-central h3{
    text-transform: uppercase;
}
.cuadro-ofrecemos{ 
    width: 190px; 
}  
.cuadro-ofrecemos label b{
    text-transform: uppercase; 
    font-weight: 500;
}  
@media only screen and (max-width: 1680px){
    .texto-financiamiento { 
        margin-left: 24% !important; 
    }
}
@media only screen and (max-width: 1480px){
    .texto-financiamiento { 
        font-size: 20px;
        margin-left: 25% !important;
    } 
}
@media only screen and (max-width: 1380px){
    .texto-financiamiento {  
        margin-left: 27% !important;
    } 
    .cuadro-ofrecemos{ 
        width: 150px; 
    }
}
@media only screen and (max-width: 1275px){
    .cuadro-central h3 {
        font-size: 25px;
    }
    .cuadro-ofrecemos label b{
        font-size: 15px;
    }
    .texto-financiamiento {  
        margin-left: 29% !important;
    }  
}
@media only screen and (max-width: 1175px){   
    .formulario-principal{ 
        width: 50%;
    } 
    .cuadro-ofrecemos {
        width: 130px;
    }
}

@media only screen and (max-width: 1080px){
    .cuadro-central h3 {
        font-size: 21px;
    }
    .cuadro-ofrecemos {
        width: 120px;
    } 
    .formulario-principal {
        width: 56%;
        margin-left: -15% !important;
    }
    .formulario-principal .col-sm-9, .formulario-principal .col-md-9{
        padding: 0;
    }
    .form-control {
        font-size: 11px;
    } 
    .texto-financiamiento {
        font-size: 17px;
        margin-left: 31% !important;
    } 
    .principal-exito .formulario-principal { 
        width: 50%; 
    }
    .formulario-principal p.primer-texto { 
        width: 280px; 
        font-size: 14px;
    }
    .formulario-principal p.segundo-texto { 
        width: 282px;
    }
}

@media only screen and (max-width: 999px){
    .principal { 
        background-size: 100% 100%;
    }
    .formulario-final h2 { 
        font-size: 30px;
    }
    .formulario-principal p {
        font-size: 11px;
    }
    .formulario-principal {
        width: 100%;
    }
    .cuadro1, .cuadro2, .cuadro3{
        width: 100%;
    } 
    .img-cuadros {
        width: 500px;
    }
}
@media only screen and (max-width: 860px){
    .financiamiento-logo { 
        margin-left: 16% !important;
    }
    .bg-celeste{
        background: #093879;
        background-color: #093879;
    }
    .fondo-con-img-texto{
        background: #093879;
        background-color: #093879;
    }
}
@media only screen and (max-width: 768px){
    .cuadro-central h3 {
        font-size: 18px;
    }
    .cuadro-ofrecemos label b {
        font-size: 14px;
    }
    .cuadro-ofrecemos {
        width: 100px;
    }
    .bg-celeste{
        background: #093879;
        background-color: #093879;
    }
    .fondo-con-img-texto{
        background: #093879;
        background-color: #093879;
    }
    .imagen-contexto{
        width: 350px;
    }
    .form-control {
        font-size: 12px;
    }
    .fondo-final{
        background-image: url("../img/fondo-final.png");
        background-repeat: no-repeat;
        background-size: 100% 100%; 
        height: 600px;
    } 
    .formulario-principal {
        width: 75%;
        margin-left: 20% !important;
    }
    .formulario-principal p {
        font-size: 12px;
    }
    .financiamiento-logo {
        width: 120px;
    }
    .principal {  
        background-size: 900px 100%; 
        height: 1000px;
    }
    .financiamiento-logo { 
        margin-left: 0% !important;
        margin-top: 10%!important;
    }
    .texto-financiamiento {
        margin-left: 20% !important;
        margin-top: -33%;
        height: 90px;
        width: 80%;
        border-radius: 0px 50px 50px 0px;
        padding: 20px 0px 0px 50px !important;
        font-size: 16px;
    } 
    .cuadro1, .cuadro2, .cuadro3{
        width: 100%;
    }
    .img-cuadros {
        width: 350px;
    }
    .principal-exito {  
        background-size: 550px 100%;
        padding: 0;
    }
    .principal-exito .formulario-principal {
        width: 100%;
        padding: 0;
    }
}
@media only screen and (max-width: 576px){
    .form-control {
        font-size: 12px;
    }
    .fondo-final{
        background-image: url("../img/fondo-final.png");
        background-repeat: no-repeat;
        background-size: 700px 100%; 
        height: 800px;
    }
    .formulario-principal {
        position: relative;
        width: 90%;
        margin-left: 5% !important;
    }
    .formulario-principal p {
        font-size: 12px;
    }
    .financiamiento-logo {
        width: 120px;
    }
    .principal {  
        background-size: 700px 100%;
        height: 1150px;
    }
    .financiamiento-logo { 
        margin-left: 0% !important;
        margin-top: 10%!important;
    }
    .texto-financiamiento {
        margin-left: 20% !important;
        margin-top: -26%;
        height: 90px;
        width: 70%;
        border-radius: 0px 50px 50px 0px;
        padding: 15px 0px 0px 50px !important;
        font-size: 22px;
    } 
    .cuadro1, .cuadro2, .cuadro3{
        width: 100%;
    } 
}
@media (max-width: 380px){
    .cuadro-ofrecemos {
        width: 150px;
    } 
    .texto-financiamiento { 
        margin-top: -28%;  
    }
}

@media (max-width: 320px){
    .texto-financiamiento { 
        margin-top: -34%; 
        font-size: 17px;
    }
    .form-control {
        font-size: 10px;
    } 
    .img-cuadros {
        width: 250px;
    }
    .imagen-contexto {
        width: 260px;
    }
    .cuadro-ofrecemos {
        width: 130px;
    }
    .formulario-principal p.primer-texto { 
        width: 265px; 
        font-size: 14px;
    }
    .formulario-principal p.segundo-texto { 
        width: 268px;
    }
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
    .principal {
        background-size: 100% 100%; 
    } 
    .formulario-principal {
        width: 80%;
        position: relative;
        margin-left: 15% !important;
    } 
    .texto-financiamiento {
        margin-top: 0%;
        font-size: 13px;
        width: 67%;
        margin-left: 6% !important;
    }
    .img-cuadros {
        width: 450px; 
    }
    .cuadro-ofrecemos {
        width: 105px;
    }
    .cuadro-ofrecemos label b {
        font-size: 13px;
    }
    .cuadro-central h3 {
        font-size: 19px;
    }
    .cuadro1, .cuadro2, .cuadro3 {
        width: 100%;
    }
}
@media only screen and (max-width: 760px) and (orientation: landscape) {
    .cuadro-ofrecemos {
        width: 90px;
    }
    .cuadro-ofrecemos label b {
        font-size: 11px;
    }
    .cuadro-central h3 {
        font-size: 15px;
    }
    .img-iconos {
        width: 85px;
    }
    .principal {
        background-size: 100% 100%; 
        height: 1200px;
    } 
    .formulario-principal {
        width: 70%; 
    }
    .texto-financiamiento { 
        margin-top: -35%;
        font-size: 9px;
    }
    .texto-financiamiento {
        margin-top: -14%;
        font-size: 18px;
        width: 40%;
        margin-left: 30% !important;
        padding-top: 5px !important;
    }
    .financiamiento-logo {
        margin-left: 25% !important; 
    }
    .img-cuadros {
        width: 400px; 
    }
    .principal-exito {
        background-size: 100% 100%; 
    }
    .principal-exito .formulario-principal {
        width: 60%; 
    }
    .cuadro1, .cuadro2, .cuadro3 {
        width: 100%;
    }
    .fondo-final { 
        height: 750px;
    }
}
@media only screen and (max-width: 680px) and (orientation: landscape) {
    .texto-financiamiento { 
        height: 75px;
    }
}
@media only screen and (max-width: 570px) and (orientation: landscape) {
    .financiamiento-logo {
        margin-left: 18% !important;
    }
    .texto-financiamiento {
        margin-top: -18%; 
        height: 85px;
    } 
    .formulario-principal {
        width: 70%;
    }
    .principal {
        background-size: 750px 100%;
    }
    .cuadro-central h3 {
        font-size: 20px;
    }
    .img-iconos {
        width: 100px;
    }
    .cuadro-ofrecemos {
        width: 150px;
    }
}
